<!--Reference: Mailboxer and private messaging tutorial
From: http://josephndungu.com/tutorials/private-inbox-system-in-rails-with-mailboxer-->
<!-- pagination -->
<div align = "center" >
  <%= will_paginate @receipts%>
</div>
<!-- done pagination-->

<% @receipts.each do |receipt| %>
    <% message = receipt.message %>
          <b><%= message.sender.first %></b><br>
                 <%= message.body %>
          <small>(<%= message.created_at.strftime("%I:%M %p %b %d") %>)</small><br>
<% end %>

<!-- pagination -->
<div align = "center" >
  <%= will_paginate @receipts%>
</div>
<!-- done pagination-->