<!DOCTYPE html>
<html>
  <head>
    <title>Textbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div id="container">
      <div id="headwrap">
        <header>
          <%= link_to 'SJSU Textbook Exchange®', "/",
          {:style=>'color:#606060;;',:class => 'websiteTitle'} %>

           <div id="searchBar">
           <%= form_tag books_path, :method =>'get' do %>
              <%=text_field_tag :search, params[:search], id: "search-input", placeholder: "search book", data: {autocomplete: autocomplete_book_title_books_path}%>
              <%= submit_tag "Search", {:id => 'search-button'} %>
            <%end%>

           </div><!--END OF SEARCHING BAR-->

          <div id="horzNav">
            <%= link_to 'Home', "/"%>
            <%= link_to "Help", help_path %>
            <%= link_to "Ads", posts_path %>
            <!-- link_to 'About', {:controller => 'static_pages', :action =>'about'} -->
            <% if logged_in? %>
               
               <%= link_to "Profile", current_user %>
               <strong>(<%= current_user.first %>)</strong>
               <!--link to mailbox for messaging-->
               <%= link_to "Inbox", mailbox_inbox_path %>
               <%= link_to "Log out", logout_path, method:"delete" %>
               <!-- (Log in as <%= current_user.first %>) -->
            <% else %>
               <%= link_to "Log in", login_path %>
            <% end %>
          </div>
        </header>
      </div><!--END OF HEADWRAP-->

      <div id="bodywrap">
        <p id="notice"></br></br></p>
        <p id="notice"><%= notice %>
           <%= flash[:success]  unless flash[:success].blank? %>
           <%= flash[:danger]  unless flash[:danger].blank? %>
           <%= flash[:error] unless flash[:error].blank? %>
        </p>
        <%= yield %>
      </div><!--END OF BODYWRAP-->

      <div id="footwrap">
        <div id="leftfoot">
          <%= link_to 'SJSU Textbook Exchange®', "/",
          {:id => 'leftfoot1'} %>
          <p id="leftfoot2">
            © 2016 by RailsCoders.
          </p>
        </div><!--END OF LEFTFOOT-->
        <div id="midfoot">
          <p id="midfoot1">
            Software Engineering I<br>
            CMPE 131 - 03<br>
            San Jose State University<br>
            Fall 2016
          </p>
        </div><!--END OF MIDFOOT-->
      </div><!--END OF FOOTWRAP-->
    </div><!--END OF CONTAINER-->
  </body>
</html>
