<h1> Profile </h1>


<%# someone make this thing display horizontally %>
<ul id="menu">
  <li><strong>First:</strong>
  <%= @user.first %></li>

  <li><strong>Last:</strong>
  <%= @user.last %></li>

  <li><strong>Email:</strong>
  <%= @user.email %></li>
</ul>

<%= link_to 'Edit Your Account', edit_user_path(@user) %> |
<%= link_to 'Back to Home', '/' %>

<% id = @user.id %>
<% if @user!=current_user %>
	| <%= link_to 'Send Message', new_conversation_path(:id => id) %>
<% end %>
<div>
	<% if @user.posts.any? %>
	  <h1> Posts (<%= @user.posts.count %>)</h1>
	  <ol class="posts" >
	    	<%= render @user.posts %>
	  </ol>
	<% end %>
</div>
